.pokemon-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
}

.loading-message {
    font-size: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
}

.pokemon-title {
    font-size: 4rem;
    letter-spacing: 10%;
    text-decoration: underline;
    text-align: center;
}