.selector-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .selector-content {
        flex-direction: column;

        p {
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.9rem;
            letter-spacing: 10%;
            text-align: center;
        }

        .select-card {
            width: 250px;
            height: 300px;
            background-color: green;
        }
    }
}